/*************** Global Begins ***************/
@import url("https://fonts.googleapis.com/css2?family=Cabin");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/*************** Global Ends ***************/

/*************** Mobile Begins ***************/
/*************** Sidebar Begins ***************/
aside {
  height: 90px;
  width: 100vw;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
aside .container {
  padding: 0 30px;
  position: relative;
  height: 100%;
  color: #808080;
  background-color: white;
  display: flex;
  align-items: center;
}
aside .container ul {
  list-style: none;
}
aside .container a {
  text-decoration: none;
  color: #808080;
  display: flex;
  align-items: center;
}
aside .container a:hover {
  color: #000;
  transition: 0.5s;
}
/*************** Logo Begins ***************/
aside .container .logo img {
  height: 40px;
  width: 40px;
}
aside .container .logo .name {
  padding: 0 0 0 10px;
  font-size: 26px;
  color: #000;
}
/*************** Logo Ends ***************/
/*************** Hamburger Begins ***************/
aside .container input {
  transform: scale(0);
}
aside .container .click-container {
  position: absolute;
  right: 30px;
  height: 45px;
  width: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
}
aside .container .click-container .menu-toggle {
  position: relative;
  height: 40px;
  width: 30px;
  padding-left: auto;
}
aside .container .click-container .menu-toggle .line {
  width: 30px;
  height: 3px;
  position: absolute;
  background-color: #000;
  transition: 0.5s;
  border-radius: 10px;
}
aside .container .click-container .menu-toggle .line:nth-child(1) {
  position: absolute;
  top: 10px;
}
aside .container .click-container .menu-toggle .line:nth-child(2) {
  position: absolute;
  top: 20px;
}

aside .container .click-container .menu-toggle .line:nth-child(3) {
  position: absolute;
  top: 30px;
}
aside .container .click-container .active .line:nth-child(1) {
  transform: rotate(45deg) translate(9.5px, 5px);
}
aside .container .click-container .active .line:nth-child(2) {
  opacity: 0;
}
aside .container .click-container .active .line:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -5px);
}
/*************** Hamburger Ends ***************/

/*************** Menu Begins ***************/
aside .container .menu-contents > * {
  display: none;
}
aside .container > .active {
  position: fixed;
  top: 90px;
  height: calc(100vh - 190px);
  left: 0;
  right: 0;
  bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0.98;
}
aside .container > .active > * {
  display: block;
  height: 100%;
  animation: left-to-right 0.5s forwards;
}
aside .container .active .nav {
  width: 100%;
  background: #d9d9d9;
}
aside .container .active .nav .nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
aside .container .active .nav .nav-list .nav-items {
  padding: 10% 0;
  border-bottom: 2px solid black;
  font-size: 30px;
  width: 50%;
  display: flex;
  justify-content: center;
}
aside .container .active .nav .nav-list .nav-items:last-child {
  border-bottom: none;
}
/*************** Menu Ends ***************/

/*************** Footer Begins ***************/
aside .container .active .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
}
aside .container .active .footer .social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
aside .container .active .footer .social .social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 100px;
}
aside .container .active .footer .social .social-list .social-items {
  padding: 0 5px;
}
aside .container .active .footer .social .social-list .social-items img {
  height: 20px;
}
aside .container .active .footer .copyright {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
aside .container .active .footer .copyright p {
  font-size: 14px;
}
/*************** Footer Ends ***************/
/*************** Sidebar Ends ***************/

/*************** Main Begins ***************/
main {
  min-height: 100vh;
  padding-top: 90px;
}
main .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/*************** HomePage Begins ***************/
/*************** About Begins ***************/
main .container .about-container {
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  padding: 80px 30px 40px 30px;
  overflow: hidden;
  position: relative;
}
main .container .about-container::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 100%) rotate(-17deg);
  background: white;
  width: 120%;
  height: 40%;
  z-index: 1;
}
main .container .about-container .about-text {
  margin-bottom: 26px;
}
main .container .about-container .about-text .name {
  font-size: 3rem;
  margin-bottom: 55px;
}
main .container .about-container .about-text .info {
  font-size: 20px;
  margin-bottom: 45px;
}
main .container .about-container .about-text a .learn {
  font-size: 24px;
  padding: 10px 20px;
  background: white;
  color: black;
  border-radius: 50px;
  width: fit-content;
  margin: 0 auto;
}
main .container .about-container .photographer img {
  width: 300px;
}
/*************** About Ends ***************/

/*************** Gallery Begins ***************/
main .container .gallery-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 30px;
}
main .container .gallery-container .gallery-text {
  margin-bottom: 26px;
  font-size: 20px;
}
main .container .gallery-container .image-container .col img {
  width: 100%;
  padding-bottom: 30px;
}
main .container .gallery-container .col .button a .more {
  font-size: 24px;
  padding: 10px 20px;
  background: black;
  color: white;
  border-radius: 50px;
  width: fit-content;
  margin: 0 auto;
}
/*************** Gallery Ends ***************/

/*************** Contact Begins ***************/
main .container .contact-container {
  width: 100vw;
  height: 100%;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  overflow: hidden;
  position: relative;
}
main .container .contact-container .contact-heading {
  margin-bottom: 26px;
  font-size: 20px;
}
main .container .contact-container .contact-info-cards > * {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px 30px;
  background: #202224;
}
main .container .contact-container .contact-info-cards .card h3,
main .container .contact-container .contact-info-cards .card p {
  padding: 5px;
}
main .container .contact-container .contact-info-cards .map {
  background: none;
  padding: 10px 0 0 0;
  margin-bottom: 0;
}
main .container .contact-container .contact-info-cards img {
  height: 30px;
  margin-bottom: 10px;
}
main .container .contact-container .contact-info-cards .contact-text .contact-title {
  font-size: 20px;
}
main .container .contact-container .contact-info-cards .contact-text .contact-info {
  font-size: 16px;
}
main .container .contact-container .contact-info-cards .contact-text > * {
  margin-bottom: 15px;
}
main .container .contact-container .contact-info-cards .email .contact-info a {
  color: white;
}
main .container .contact-container .contact-info-cards {
  padding: 0 30px;
}
main .container .contact-container .contact-info-cards:last-child .form {
  display: none;
  padding: 0;
  margin: 0;
}
main .container .contact-container .contact-info-cards:last-child .map iframe {
  height: 400px;
}
/*************** Contact Ends ***************/
/*************** HomePage Ends ***************/

/*************** Global Header Begins ***************/
main .container .header {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 30px;
  background-color: black;
  position: relative;
  overflow: hidden;
}
main .container .header::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 100%) rotate(-6.5deg);
  background: white;
  width: 120%;
  height: 40%;
  z-index: 1;
}
main .container .header .heading {
  color: white;
  font-size: 64px;
}
/*************** Global Header Ends ***************/

/*************** Global Container Begins ***************/
main .container .body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  position: relative;
}
main .container > * {
  width: 100%;
}
/*************** Global Container Ends ***************/

/*************** Gallery Page Begins ***************/
/*************** Gallery Container Begins ***************/
/*************** Categories Begins ***************/
main .container .body .categories {
  display: flex;
  flex-direction: row;
}
main .container .gallery input, main .container .contact input[type=radio]
{
  display: none;
}
main .container .body .categories .category-items .category-container {
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  overflow: hidden;
}
main .container .body .categories .category-items .open {
  height: auto;
}
main .container .body .categories .category-items .category-container label {
  padding: 5px 10px;
  background-color: #d9d9d9;
  border-radius: 50px;
  margin: 0 10px 5px 0;
  cursor: pointer;
}
main .container .gallery .gallery-body .categories .kebab {
  width: 50px;
}
/*************** Categories Ends ***************/

/*************** Images Begins ***************/
main .container .gallery .gallery-body .image-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}
main .container .gallery .gallery-body .col .pic {
  padding: 10px 0;
}
main .container .gallery .gallery-body .col .pic img {
  width: 100%;
}
/*************** Image Sorting Begins ***************/
#check1:checked ~ .gallery-body .image-box .col .pic {
  opacity: 1;
  transform: scale(1);
  position: relative;
  transition: 0.5s;
}
#check2:checked ~ .gallery-body .image-box .col .nature,
#check2:checked ~ .gallery-body .image-box .col .animal,
#check2:checked ~ .gallery-body .image-box .col .macro,
#check2:checked ~ .gallery-body .image-box .col .city,
#check2:checked ~ .gallery-body .image-box .col .monochrome,
#check2:checked ~ .gallery-body .image-box .col .uncategorized {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  transition: 0.5s;
}
#check2:checked ~ .gallery-body .image-box .col .people {
  opacity: 1;
  transform: scale(1);
  position: relative;
  transition: 0.5s;
}
#check3:checked ~ .gallery-body .image-box .col .people,
#check3:checked ~ .gallery-body .image-box .col .animal,
#check3:checked ~ .gallery-body .image-box .col .macro,
#check3:checked ~ .gallery-body .image-box .col .city,
#check3:checked ~ .gallery-body .image-box .col .monochrome,
#check3:checked ~ .gallery-body .image-box .col .uncategorized {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  transition: 0.5s;
}
#check3:checked ~ .gallery-body .image-box .col .nature {
  opacity: 1;
  transform: scale(1);
  position: relative;
  transition: 0.5s;
}
#check4:checked ~ .gallery-body .image-box .col .people,
#check4:checked ~ .gallery-body .image-box .col .nature,
#check4:checked ~ .gallery-body .image-box .col .macro,
#check4:checked ~ .gallery-body .image-box .col .city,
#check4:checked ~ .gallery-body .image-box .col .monochrome,
#check4:checked ~ .gallery-body .image-box .col .uncategorized {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  transition: 0.5s;
}
#check4:checked ~ .gallery-body .image-box .col .animal {
  opacity: 1;
  transform: scale(1);
  position: relative;
  transition: 0.5s;
}
#check5:checked ~ .gallery-body .image-box .col .people,
#check5:checked ~ .gallery-body .image-box .col .nature,
#check5:checked ~ .gallery-body .image-box .col .animal,
#check5:checked ~ .gallery-body .image-box .col .city,
#check5:checked ~ .gallery-body .image-box .col .monochrome,
#check5:checked ~ .gallery-body .image-box .col .uncategorized {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  transition: 0.5s;
}
#check5:checked ~ .gallery-body .image-box .col .macro {
  opacity: 1;
  transform: scale(1);
  position: relative;
  transition: 0.5s;
}
#check6:checked ~ .gallery-body .image-box .col .people,
#check6:checked ~ .gallery-body .image-box .col .nature,
#check6:checked ~ .gallery-body .image-box .col .animal,
#check6:checked ~ .gallery-body .image-box .col .macro,
#check6:checked ~ .gallery-body .image-box .col .monochrome,
#check6:checked ~ .gallery-body .image-box .col .uncategorized {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  transition: 0.5s;
}
#check6:checked ~ .gallery-body .image-box .col .city {
  opacity: 1;
  transform: scale(1);
  position: relative;
  transition: 0.5s;
}
#check7:checked ~ .gallery-body .image-box .col .people,
#check7:checked ~ .gallery-body .image-box .col .nature,
#check7:checked ~ .gallery-body .image-box .col .animal,
#check7:checked ~ .gallery-body .image-box .col .macro,
#check7:checked ~ .gallery-body .image-box .col .city,
#check7:checked ~ .gallery-body .image-box .col .uncategorized {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  transition: 0.5s;
}
#check7:checked ~ .gallery-body .image-box .col .monochrome {
  opacity: 1;
  transform: scale(1);
  position: relative;
  transition: 0.5s;
}
#check8:checked ~ .gallery-body .image-box .col .people,
#check8:checked ~ .gallery-body .image-box .col .nature,
#check8:checked ~ .gallery-body .image-box .col .animal,
#check8:checked ~ .gallery-body .image-box .col .macro,
#check8:checked ~ .gallery-body .image-box .col .city,
#check8:checked ~ .gallery-body .image-box .col .monochrome {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  transition: 0.5s;
}
#check8:checked ~ .gallery-body .image-box .col .uncategorized {
  opacity: 1;
  transform: scale(1);
  position: relative;
  transition: 0.5s;
}
/*************** Image Sorting Ends ***************/
/*************** Images Ends ***************/
/*************** Gallery Container Ends ***************/
/*************** Gallery Page Ends ***************/

/*************** About Page Begins ***************/
main .container .about .body .row {
  width: 100%;
}
main .container .about .body .row .img img {
  width: 100%;
}
main .container .about .body .r1 .text h2 {
  font-size: 56px;
}
main .container .about .body .row .text {
  padding: 20px 15px;
}
main .container .about .body .row .text {
  font-size: 20px;
}
main .container .about .body .row:last-child .img img {
  display: none;
}
/*************** About Page Ends ***************/

/*************** Contact Page Begins ***************/
/*************** Contact Me Begins ***************/
main .container .contact-me-container {
  width: 100vw;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0;
  overflow: hidden;
  position: relative;
}
main .container .contact-me-container .contact-heading {
  margin-bottom: 26px;
  font-size: 20px;
}
main .container .contact-me-container .contact-info-cards > * {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px 30px;
  background: #202224;
}
main .container .contact-me-container .contact-info-cards .card h3,
main .container .contact-me-container .contact-info-cards .card p {
  padding: 10px;
}
main .container .contact-me-container .contact-info-cards .map {
  background: none;
  padding: 10px 0 0 0;
  margin-bottom: 0;
}
main .container .contact-me-container .contact-info-cards img {
  height: 30px;
  margin-bottom: 10px;
}
main .container .contact-me-container .contact-info-cards .contact-text .contact-title {
  font-size: 20px;
}
main .container .contact-me-container .contact-info-cards .contact-text .contact-info {
  font-size: 16px;
}
main .container .contact-me-container .contact-info-cards .contact-text > * {
  margin-bottom: 15px;
}
main .container .contact-me-container .contact-info-cards .email .contact-info a {
  color: white;
}
main .container .contact-me-container .contact-info-cards {
  padding: 0 30px;
}
main .container .contact-me-container .contact-info-cards:last-child .form {
  display: none;
  padding: 0;
  margin: 0;
}
main .container .contact-me-container .contact-info-cards:last-child .map iframe {
  height: 400px;
}
/*************** Contact Me Ends ***************/

/*************** Hire Me Begins ***************/
main .container .hire-me-container {
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0;
  overflow: hidden;
  position: relative;
}
main .container .hire-me-container .plans-list .plan{
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin:  0 auto 20px auto;
  padding: 10px 20px;
  background: #202224;
  color: white;
  border-radius: 15px;
}
main .container .hire-me-container .plans-list .plan > *{
  margin: 10px;
}
main .container .hire-me-container .plans-list .plan .features .feature-list .feature-item{
  margin-bottom: 10px;
}
main .container .hire-me-container .plans-list .plan .button {
  padding: 10px 20px;
  background: #202224;
  border: 1px solid white;
  border-radius: 5px;
}
main .container .hire-me-container .plans-list .plan .button a{
  text-decoration: none;
  color: white;
}
/*************** Hire Me Ends ***************/

/*************** Review Begins ***************/
main .container .review-container {
  width: 100vw;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: visible;
  position: relative;
}
main .container .review-container .form {
  display: block;
  width: 100%;
}
main .container .review-container .form form {
  width: 80%;
  margin: 0 auto;
}
main .container .review-container .form form {
  box-sizing: border-box;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container .review-container .form form .txt-field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 25px 0 0 0;
  overflow-x: visible;
  width: 100%;
}
main .container .review-container .form form .txt-field input,
main .container .review-container .form form .txt-field textarea {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: white;
}
main .container .review-container .form form .txt-field textarea {
  max-height: 80px;
  padding: 10px 0;
  resize: none;
}
main .container .review-container .form form .txt-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
main .container .review-container .form form .txt-field input:focus ~ label,
main .container .review-container .form form .txt-field input:valid ~ label,
main .container .review-container .form form .txt-field textarea:focus ~ label,
main .container .review-container .form form .txt-field textarea:valid ~ label {
  top: -5px;
  font-size: 12px;
  color: white;
}
main .container .review-container .form form input[type="submit"] {
  width: 100%;
  max-width: 150px;
  height: 40px;
  border: none;
  outline: none;
  background: black;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  margin: 30px 0 10px 0;
}
main .container .review-container .form form .txt-field input,
main .container .review-container .form form .txt-field textarea{
  width: 100%;
  padding: 10px;
  border: none;
  color: black;
  height: auto;
}
main .container .review-container .form form .txt-field input:focus ~ label,
main .container .review-container .form form .txt-field input:valid ~ label,
main .container .review-container .form form .txt-field textarea:focus ~ label 
main .container .review-container .form form .txt-field textarea:valid ~ label {
  color: black;
  z-index: 1;
}
/*************** Stars Begins ***************/
main .container .review-container .form form .stars{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 30px 0 30px 0;
}
main .container .review-container .form form .stars label svg path{
  fill: none;
  stroke: #d9d9d9;
  stroke-linejoin: round;
  stroke-width: 32px;
}
#star1:checked ~ .star1 svg path{
  fill: #d9d9d9;
  transition: .5s;
}
#star1:checked ~ .star2 svg path,
#star1:checked ~ .star3 svg path,
#star1:checked ~ .star4 svg path,
#star1:checked ~ .star5 svg path{
  fill: none;
  transition: .5s;
}
#star2:checked ~ .star1 svg path,
#star2:checked ~ .star2 svg path{
  fill: #d9d9d9;
  transition: .5s;
}
#star2:checked ~ .star3 svg path,
#star2:checked ~ .star4 svg path,
#star2:checked ~ .star5 svg path{
  fill: none;
  transition: .5s;
}
#star3:checked ~ .star1 svg path,
#star3:checked ~ .star2 svg path,
#star3:checked ~ .star3 svg path{
  fill: #d9d9d9;
  transition: .5s;
}
#star3:checked ~ .star4 svg path,
#star3:checked ~ .star5 svg path{
  fill: none;
  transition: .5s;
}
#star4:checked ~ .star1 svg path,
#star4:checked ~ .star2 svg path,
#star4:checked ~ .star3 svg path,
#star4:checked ~ .star4 svg path{
  fill: #d9d9d9;
  transition: .5s;
}
#star4:checked ~ .star5 svg path{
  fill: none;
  transition: .5s;
}
#star5:checked ~ .star1 svg path,
#star5:checked ~ .star2 svg path,
#star5:checked ~ .star3 svg path,
#star5:checked ~ .star4 svg path,
#star5:checked ~ .star5 svg path{
  fill: #d9d9d9;
  transition: .5s;
}
/*************** Stars Ends ***************/

/*************** Review List Starts ***************/
main .container .review-container .review-list{
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: #d9d9d9;
  margin: 0 30px;
}
/*************** Review List Ends ***************/
/*************** Review Ends ***************/
#contact1:checked ~ .contact-body .contact-box .hire-me-container,
#contact1:checked ~ .contact-body .contact-box .review-container{
  display: none;
}
#contact2:checked ~ .contact-body .contact-box .contact-me-container,
#contact2:checked ~ .contact-body .contact-box .review-container{
  display: none;
}
#contact3:checked ~ .contact-body .contact-box .hire-me-container,
#contact3:checked ~ .contact-body .contact-box .contact-me-container{
  display: none;
}
/*************** Contact Page Ends ***************/

/*************** Footer Begins ***************/
main .container .footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px 30px;
  overflow: hidden;
  position: relative;
}
main .container .footer .social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .container .footer .social .social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
}
main .container .footer .social .social-list .social-items {
  padding: 0 5px;
}

main .container .footer .social .social-list .social-items img {
  height: 20px;
}
main .container .footer .copyright {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
main .container .footer .copyright p {
  font-size: 14px;
}
/*************** Footer Ends ***************/
/*************** Main Ends ***************/
/*************** Mobile Ends ***************/

/*************** Desktop Begins ***************/
@media (min-width: 450px) {
  /*************** HomePage Begins ***************/
  /*************** Sidebar Begins ***************/
  aside {
    min-width: 250px;
    width: 20%;
    height: 100vh;
  }
  aside .container {
    padding: 40px;
    display: block;
  }
  aside .container .logo a {
    display: block;
  }
  aside .container a:hover > .name {
    color: #000;
    transition: 0.5s;
  }
  aside .container .logo img {
    width: 100px;
    height: 100px;
  }
  aside .container .logo .name {
    padding: 15px 0 0 0;
    font-size: 30px;
    text-decoration: none;
    color: #808080;
  }
  aside .click-container {
    transform: scale(0);
  }
  /*************** Nav Begins ***************/
  aside .container .nav .nav-list .nav-items .active {
    color: #000;
  }
  aside .container .menu-contents > * {
    display: block;
  }
  aside .container .nav {
    padding: 40px 0;
  }
  aside .container .nav .nav-list {
    justify-content: left;
  }
  aside .container .nav .nav-list .nav-items {
    margin-bottom: 28px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    justify-content: left;
  }
  /*************** Nav Ends ***************/

  /*************** Footer Begins ***************/
  aside .container .footer {
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;
  }
  aside .container .footer .social .social-list {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }
  aside .container .footer .social .social-list .social-items {
    padding-right: 15px;
  }
  aside .container .footer .social .social-list .social-items img {
    height: 25px;
    width: 25px;
  }
  aside .container .footer .copyright p {
    font-size: 14px;
  }
  /*************** Footer Ends ***************/
  /*************** Sidebar Ends ***************/

  /*************** Main Begins ***************/
  main {
    width: 80%;
    position: absolute;
    left: 20%;
    padding-top: 0;
  }
  /*************** About Begins ***************/
  main .container .about-container {
    width: 100%;
    height: 677px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 100px;
  }
  main .container .about-container::before {
    width: 120%;
    height: 40%;
    transform: translate(-50%, 100%) rotate(-3.5deg);
  }
  main .container .about-container .about-text {
    text-align: left;
  }
  main .container .about-container .about-text .name {
    margin-bottom: 30px;
    font-size: 4rem;
  }
  main .container .about-container .about-text .info {
    margin-bottom: 30px;
    font-size: 1.25rem;
  }
  main .container .about-container .about-text a .learn {
    margin: 0;
    font-size: 1.5rem;
  }
  main .container .about-container .photographer img {
    width: 582px;
    filter: contrast(100%) brightness(80%);
  }
  /*************** About Ends ***************/

  /*************** Gallery Begins ***************/
  main .container .gallery-container {
    height: 100%;
  }
  main .container .gallery-container .gallery-text .title {
    font-size: 3rem;
  }
  main .container .gallery-container .image-container {
    display: flex;
    width: 100%;
  }
  main .container .gallery-container .image-container .col {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    position: relative;
  }
  main .container .gallery-container .image-container .col img {
    width: 100%;
    padding: 10px;
  }
  main .container .gallery-container .image-container .col3 img:nth-child(2) {
    height: 50%;
    object-fit: cover;
  }
  main .container .gallery-container .image-container .col3 .button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 15px;
  }
  main .container .gallery-container .image-container .col3 .button a .more {
    padding: 10px 30px;
    font-size: 1.25rem;
  }
  /*************** Gallery Ends ***************/

  /*************** Contact Begins ***************/
  main .container .contact-container {
    width: 100%;
    padding: 30px;
  }
  main .container .contact-container .contact-info-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  main .container .contact-container .contact-info-cards > * {
    width: 32.5%;
  }
  main .container .contact-container .contact-info-cards:last-child > * {
    width: 48.5%;
  }
  form {
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form .txt-field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 25px 0 0 0;
    overflow-x: visible;
    width: 100%;
  }
  form .txt-field input,
  form .txt-field textarea {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
  }
  form .txt-field textarea {
    max-height: 80px;
    padding: 10px 0;
    resize: none;
  }
  form .txt-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
  }
  form .txt-field input:focus ~ label,
  form .txt-field input:valid ~ label,
  form .txt-field textarea:focus ~ label,
  form .txt-field textarea:valid ~ label {
    top: -5px;
    font-size: 12px;
    color: white;
  }
  form input[type="submit"] {
    width: 100%;
    max-width: 150px;
    height: 40px;
    border: none;
    outline: none;
    background: black;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin: 30px 0 10px 0;
  }
  main .container .contact-container .contact-info-cards:last-child .form {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .container .contact-container .map iframe {
    width: 100%;
    height: 516px;
  }
  /*************** Contact Ends ***************/

  /*************** Footer Begins ***************/
  main .container .footer {
    display: none;
  }
  /*************** Footer Ends ***************/
  /*************** HomePage Ends ***************/

  /*************** Global Header Begins ***************/
  main .container .header::before {
    transform: translate(-50%, 100%) rotate(-1.9deg);
  }
  /*************** Global Header Ends ***************/
  /*************** Gallery Page Begins ***************/

  /*************** Gallery Container Begins ***************/
  /*************** Categories Begins ***************/
  main .container .body .categories {
    width: 100%;
  }
  main .container .body .categories .category-items {
    width: 100%;
  }
  main .container .body .categories .category-items .category-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
  main .container .gallery .gallery-body .categories .kebab {
    display: none;
  }
  main .container .body .categories .category-items .category-container label {
    padding: 5px 15px;
  }
  /*************** Categories Ends ***************/

  /*************** Images Begins ***************/
  main .container .gallery .gallery-body .col {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    padding: 0 10px;
    text-align: center;
  }
  main .container .gallery .gallery-body .col .pic {
    margin-bottom: 15px;
    padding: 0;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
  }
  main .container .gallery .gallery-body .col .pic img {
    width: 100%;
    height: 100%;
  }
  main .container .gallery .gallery-body .col .pic::before {
    content: "SHUTTERSCAPE";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.2s;
  }
  main .container .gallery .gallery-body .col .pic::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s;
  }
  main .container .gallery .gallery-body .col .pic:hover::after {
    height: 100%;
  }
  main .container .gallery .gallery-body .col .pic:hover::before {
    top: 50%;
    opacity: 1;
  }
  /*************** Images Ends ***************/
  /*************** Gallery Container Ends ***************/
  /*************** Gallery Page Ends ***************/

  /*************** About Page Begins ***************/
  main .container .about .about-body .row {
    display: flex;
    width: 100%;
    padding-bottom: 50px;
  }
  main .container .about .about-body .row .text {
    width: calc(100%-600px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
  }
  main .container .about .about-body .r2,
  .r4 {
    display: flex;
    flex-direction: row-reverse;
  }
  main .container .about .body .row:last-child .img img {
    display: block;
  }
  /*************** About Page Ends ***************/
  
  /*************** Contact Page Begins ***************/
  /*************** Contact Me Begins ***************/
  main .container .contact-body .contact-box .contact-me-container{
    flex-direction: row;
    width: 100%;
    padding-bottom: 0;
  }
  main .container .contact-me-container .contact-info-cards {
    width: 100%;
    padding: 0 5px;
  }
  main .container .contact-me-container .contact-info-cards:last-child .map iframe {
    height: 350px;
  }
  /*************** Contact Me Ends ***************/

  /*************** Hire Me Begins ***************/
  main .container .hire-me-container{
    flex-direction: column;
    width: 100%;
    padding: 20px 0 0 0;
  }
  main .container .hire-me-container .plans-list{
    display: flex;
    justify-content: space-evenly;
  }
  main .container .hire-me-container .plans-list .plan{
    width: 24%;
    min-height: 415px;
    height: 100%;
    position: relative;
    margin-bottom: 0;
  }
  main .container .hire-me-container .plans-list .plan .button{
    position: absolute;
    bottom: 10px;
  }
  main .container .hire-me-container .plans-list .plan .button:hover{
    background-color: #f5f5f5;
    transition: .5s;
  }
  main .container .hire-me-container .plans-list .plan .button:hover a{
    color: #000;
    transition: .5s;
  }
  /*************** Hire Me Ends ***************/

  /*************** Review Begins ***************/
  main .container .review-container{
    width: 60vw;
  }
  main .container .review-container .form{
    width: 100%   ;
  }
  main .container .review-container .review-list{
    width: 100%;
    padding: 0 30px;
  }
  /*************** Review Ends ***************/
  /*************** Contact Page Ends ***************/
  /*************** Main Ends ***************/
}
/*************** Desktop Ends ***************/

/*************** Animation Begins ***************/
@keyframes left-to-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
/*************** Animation Ends ***************/